
@{
    ViewBag.Title = "LoginTest";
}

<h2>LoginTest</h2>

<div chokin-login-form ng-app="chokin">

</div>

@section scripts {
    @Scripts.Render("~/Scripts/app/serfuen_angular_alerts.js")
    @Scripts.Render("~/Scripts/app/app.js")
    @Scripts.Render("~/Scripts/app/spreadsheet_entity_editor.js")
    @Scripts.Render("~/Scripts/app/chokin_directives.js")
    @Scripts.Render("~/Scripts/app/alerts.js")
}