@{
    ViewBag.Title = "Mortgage Calculator";
}

<div class="form-horizontal">
    <h2>Mortgage Calculator</h2>

        <div class="col-sm-4">
            <div class="form-group">
                @Html.Label("Principal", new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="row">
                        @Html.TextBox("principal", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="row">
                        <div class="sliderClass" id="principal_input"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Downpayment", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="row">
                        <p id="downpayment"></p>
                    </div>
                    <div class="row">
                        <div class="sliderClass " id="downpayment_input"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Interest", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="row">
                        <p id="interest"></p>
                    </div>
                    <div class="row">
                        <div class="sliderClass " id="interest_input"></div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Years", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-6">
                    <div class="row">
                        <p id="years"></p>
                    </div>
                    <div class="row">
                        <div class="sliderClass " id="years_input"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <div id="mortgage_result">
                        <table class="table-hover table-loan table-bordered table-striped table">
                            <thead>
                                <tr>
                                    <th class="table-title" colspan="2">Mortage Summary</th>
                                </tr>
                            </thead>
                            <tr>
                                <th>Monthly payment</th>
                                <td><span id="monthly_payment"></span></td>
                            </tr>
                            <tr>
                                <th>Total loan</th>
                                <td><span id="total_loan"></span></td>
                            </tr>
                            <tr>
                                <th>Total payment</th>
                                <td><span id="total_with_interest"></span></td>
                            </tr>
                            <tr>
                                <th>Total interests</th>
                                <td><span id="total_interests"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6">
                    <canvas id="graph_interests"></canvas>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
</div>
@section scripts {
    @Scripts.Render("~/Scripts/app/calculator.js")
}
